a{
    color: black;
}

a:hover {
    color: dimgrey;
}
.about-sec {
   margin-top: 2%;
    margin-bottom: 2%;
    text-decoration: underline;
}

.cont-about {
    text-align: center;
    vertical-align: center;
    margin-top: 5%;
}

.homePage {
    height: 100%;
    background: linear-gradient(0.5turn, #000000, #c0c0c0, #808080);
}

html,body {
    margin:0; padding:0; height:100%; width:100%;
}

#full-size {
    height: 90%;
    width: 100%;
    overflow: hidden;
}

.footer-icon-col {
    margin: 1% 15%;
    text-align: center;
    color: black;

}

@media screen and (min-width: 900px) {

    .col-large {
        padding-left: 15%;
    }

    .daviet-img {
        height: 100%;
        margin-right: 1%;
    }


    .row-h1 h1 {
        vertical-align: center;
        margin-top: 18%;
        text-align: center;
    }

    .row-p p {
        margin-top: 2%;
        text-align: center;
    }
}

@media (max-width: 900px) and (min-width: 600px) {

    .daviet-img {
        height: 60%;
    }

    .row-h1 h1 {
        margin-top: 40%;
    }

    .row-p p {
        margin-top: 2%;
    }
}

.one{
    height: 50%;
}

#footer {
    padding: 7% 15%;
}
